/* TEXT CUSTOMIZATIONS */
h1 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 5px;
}

h2 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 1;
    margin-bottom: 0;
}

h3 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
}

h4 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    color: #337e92;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: #30394b;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

label {
    color: #30394b;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
}

li {
    color: #30394b;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.dashleft {
    border: none;
    width: 28%;
    height: 4px;
    margin-left: 0;
    background-color: #fb6d7c;
}

.dashright {
    border: none;
    width: 28%;
    height: 4px;
    margin-right: 0;
    background-color: #fb6d7c;
}

.dashdivider {
    border: none;
    width: 100%;
    height: 4px;
    background-color: #1b556d;
}



/* NAV BAR */
header {
    background-color: #f2f6f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
}

nav a {
    color: #1b556d;
    text-decoration: none;
    margin-left: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.titleheader {
    font-size: 36px;
    margin-top: 0;
}



/* ABOUT PAGE */
.aboutus {
    width: 960px;
    margin: auto;
}

.missionbg {
    background-color: #f2f6f8;
    margin: auto;
    padding: 5px;
}

.ourmission {
    width: 960px;
    margin: auto;
    text-align: right;
}

#teamintro {
    padding-top: 15px;
    width: 960px;
    margin: auto;
}

.team {
    width: 960px;
    margin: auto;
    text-align: center;
}

#mikelly, #mirsab, #ariane, #enya {
    float: left;
    width: 200px;
    padding: 20px;
}

.memimg {
    width: 200px;
    height: 200px;
}

.memtext {
    margin-top: 1px;
}

.memname {
    margin-top: 2px;
    margin-bottom: 5px;
}