/* TEXT CUSTOMIZATIONS */
h1 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 5px;
}

h2 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 1;
    margin-bottom: 0;
}

h3 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 21px;
}

h4 {
    color: #1b556d;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

h5 {
    color: #337e92;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: #30394b;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 5px;
}

label {
    color: #30394b;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
}


/* NAV BAR */
nav {
    background-color: #f2f6f8;
    color: #1b556d;
    padding: 10px;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 21px;
    text-align: right;
}

nav a {
    color: #1b556d;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}


/* HOME PAGE */
.introbg {
    background-color: #f2f6f8;
    height: 380px;
}

.intro {
    width: 960px;
    margin: auto;
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
}

.i1, .i2, .i3 {
    float: left;
    width: 300px;
    padding: 10px;
}

.reasoning {
    width: 960px;
    text-align: center;
    margin: auto;
}


/* FEATURES PAGE */
.ccintro {
    width: 960px;
    margin: auto;
}

.featsbg {
    background-color: #f2f6f8;
    padding: 2px;
}

.feats {
    width: 960px;
    margin: auto;
}

#feat1 {
    text-align: left;
}

#feat2 {
    text-align: right;
}

#feat3 {
    text-align: left;
}

#feat4 {
    text-align: right;
}


/* ABOUT PAGE */
.aboutus {
    width: 960px;
    margin: auto;
}

.missionbg {
    background-color: #f2f6f8;
    margin: auto;
    padding: 5px;
}

.ourmission {
    width: 960px;
    margin: auto;
    text-align: right;
}

.team {
    width: 960px;
    margin: auto;
}


/* CONTACT PAGE */
.contactus {
    width: 800px;
    margin: auto;
}

.contactblock {
    background-color: #f2f6f8;
    padding: 20px;
    width: 800px;
    text-align: center;
    display: inline-block;
}

form {
    float: left;
}

label, input, textarea {
    display: block;
    margin-bottom: 5px;
    height: 25px;
    width: 300px;
    color: #30394b;
    text-align: left;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

textarea {
    height: 100px;
    width: 300px;
}

#submit {
    height: 35px;
    width: 100px;
    text-align: center;
}

#contactimg {
    float: right;
    height: 400px;
    width: 400px;
}